<a href="https://colab.research.google.com/github/jealdana/2017-Purdue-Ironhack-Tutorials/blob/master/financialAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [170]:
import pandas as pd
headers = ["Date", "type", "concept","value" ]
data = [
["nov-2019","asset", "property",20000],
["nov-2019","liability", "debt",16000],
["nov-2019","liability", "insuranceDebt",16000],
];
df = pd.DataFrame(data,columns=headers)
df

       Date       type        concept  value
0  nov-2019      asset       property  20000
1  nov-2019  liability           debt  16000
2  nov-2019  liability  insuranceDebt  16000

In [0]:
import datetime as dt
import numpy as np

class personalFinances:
  def  __init__(self,rawEntries):
    self.df = rawEntries;
    self.networths = pd.DataFrame() ;
  
  def add_monthly_entry(self,entryArray):
    """["Date", "type", "concept","value" ]"""
    self.df = self.df.append(pd.DataFrame([entryArray],columns=["Date", "type", "concept","value" ]),sort=False);
    return self.df;

  def get_networth(self, dateCol="Date", dateformat='%b-%Y'):
    if self.networths.empty:
      df = self.df.copy();
      df['dateObj'] = df[dateCol].apply(lambda r: dt.datetime.strptime(r,dateformat));
      networthArr = [];
      for date,g in df.groupby('dateObj'):
        totdf = g.groupby('type').sum().transpose();
        networthArr.append([date,totdf.asset-totdf.liability]);
      self.networths = pd.DataFrame(networthArr,columns=['dateObj','networth']);
      return self.networths;
    else:
      n = set(self.networths.dateObj)
      d = set([dt.datetime.strptime(d, dateformat) for d in self.df.groupby(dateCol).groups.keys()])
      u = n.union(d)
      if (len(n - u) > 0 | len(u-n) > 0):
        print('something else')
      if len(self.df.groupby(dateCol)) == len(self.networths):
        print("Not calculating again the net worth");
        return self.networths;
      if len(self.df.groupby(dateCol)) > len(self.networths):
        print('updating net worth records');
      elif len(self.df.groupby(dateCol)) < len(self.networths):
        print("more months than entries' months");
   
Enrique = personalFinances(df)

In [184]:
Enrique.get_networth()

AttributeError: ignored

In [0]:
Enrique.add_monthly_entry( ["nov-2020","liability", "insuranceDebt",16000]);

In [181]:
Enrique.df

       Date       type        concept  value
0  nov-2019      asset       property  20000
1  nov-2019  liability           debt  16000
2  nov-2019  liability  insuranceDebt  16000
0  nov-2019  liability  insuranceDebt  16000
0  nov-2020  liability  insuranceDebt  16000